.App {
  text-align: center;
}
html {
  background: #E8E7EC;
}
.followers-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1100px;
  margin: 0 auto;
}
.follower-card{
  width: 40%;
  background: #827AE9;
  margin-top: 25px;
}
.follower-card img{
  width: 100%;
}